<% if (title) { %>
<h1 class="title-h1" ><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<% messages() %>
    
    <section class="section-form">
        <form class="form-container" action="" method="post">
            <label class="label-login" for="email">E-mail:</label>
            <input class="input-login" type="email" id="email" name="email" required>

            <label class="label-login" for="password">Senha:</label>
            <input class="input-login" type="password" id="password" name="password" required>

            <input class="input-submit-login" type="submit" value="Sing in">
        </form>
    </section>