<% if (title) { %>
<h1 class="title-h1" ><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>
    
    <section class="section-form">
        <form class="form-container" action="/account/login" method="post">
            <label class="label-login" for="email">E-mail:</label>
            <input class="input-login" type="email" id="loginEmail" name="email" required value="<%= locals.account_email %>">

            <label class="label-login" for="password">Password:</label>
            <input class="input-login" type="password" id="LoginPassword" name="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" value="<%= locals.account_password %>">

            <input class="input-submit-login" type="submit" value="Sing in">

            <p class="account-question">Don't have an Account? <span><a class="register-link" href="/account/register">Sing Up</a></span></p>
        </form>
    </section>