<% const d = new Date() 
    let year = d.getFullYear() 
%>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <a class="linkError" href="/error/test-500">Link to server error view</a>
</footer>