<header>
  <div class="header-container">
    <span class="siteName">
      <a href="/" title="Return to home page" class="title">CSE Motors</a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login" class="myAccount"><%- login %></a>
    </div>
  </div>
</header>