
<section class="welcome-container">
    <div class="welcome-h1-container">
        <h1>Welcome to CSE Motors</h1>
    </div>
    <div class="hero-card-container">
        <div class="card-dmc">
            <div class="card-h1-dmc">
                <h1>DMC Delorean</h1>
            </div>
            <div class="card-list-dmc">
                <ul>
                    <li>3 cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
            </div>
            <div class="own-btn-container">
                <a href="#"><img src="/images/site/own_today.png" alt="own today button"></a>
            </div>
        </div>
    </div>
</section>

<div class="container-two-columns">
    <section class="dmc-container">
        <div class="dmc-h1-container">
            <h1>DMC Delorean Reviews</h1>
        </div>
        <div class="dmc-list-container">
            <ul>
                <li>"So fast it's almost like travelling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm felling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </section>

    <section class="delorean-container">
        <div class="delorean-h1-container">
            <h1>Delorean Upgrades</h1>
        </div>
        <div class="delorean-cards-container">
            <div class="delorean-card">
                <figure>
                    <img src="/images/upgrades/flux-cap.png" alt="flux capacitor img">
                    <figcaption><a href="#">Flux Capacitor</a></figcaption>
                </figure>
            </div>
            <div class="delorean-card">
                <figure>
                    <img src="/images/upgrades/flame.jpg" alt="flame decals img">
                    <figcaption><a href="#">Flame Decals</a></figcaption>
                </figure>
            </div>
            <div class="delorean-card">
                <figure>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers img">
                    <figcaption><a href="#">Bumper Stickers</a></figcaption>
                </figure>
            </div>
            <div class="delorean-card">
                <figure>
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub caps img">
                    <figcaption><a href="#">Hub Caps</a></figcaption>
                </figure>
            </div>
        </div>
    </section>
</div>
